@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Clientes</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="~/assets/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="~/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/assets/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="~/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/jquery.mask.js"></script>
    <script src="~/assets/js/customapp.js"></script>
    <script src="~/assets/js/CustomApp.js"></script>
    <script>
        $(function(){
            $('#mensagemAlertaCad').hide();
            $('#mensagemSucessoCad').hide();
            $("#cnpj").mask("99.999.999/9999-99");
            $("#cep").mask("99.999-999");
            $('#btnCancelar').click(function(){
                window.location.href = "/Home/Login"
            });

            $("#btnCadastrar").prop("disabled", true);

            $("#senha").keyup(function () {
                var pontoSenha = verificaForcaSenha('senha', 'statusSenha');

                if (pontoSenha > 2) {
                    $("#btnCadastrar").prop("disabled", false);
                } else {
                    $("#btnCadastrar").prop("disabled", true);
                }

                var pontoConfirmSenha = validarConfirmacaoSenha('senha', 'confirmarSenha', 'statusConfirmarSenha');

                if (pontoConfirmSenha > 0) {
                    $("#btnCadastrar").prop("disabled", false);
                } else {
                    $("#btnCadastrar").prop("disabled", true);
                }
            });

            $("#confirmarSenha").keyup(function () {
                var pontoSenha = verificaForcaSenha('senha', 'statusSenha');

                if (pontoSenha > 2) {
                    $("#btnCadastrar").prop("disabled", false);
                } else {
                    $("#btnCadastrar").prop("disabled", true);
                }

                var pontoConfirmSenha = validarConfirmacaoSenha('senha', 'confirmarSenha', 'statusConfirmarSenha');

                if (pontoConfirmSenha > 0) {
                    $("#btnCadastrar").prop("disabled", false);
                } else {
                    $("#btnCadastrar").prop("disabled", true);
                }
            });

            $('#btnCadastrar').click(function () {
                if ($('#senha').val() !== $('#confirmarSenha').val()) {
                    $('#mensagemAlertaCad').show();
                    $('#mensagemAlertaCad').html('Senhas não conferem');

                    window.setTimeout(function(){
                        $('#mensagemAlertaCad').hide();
                        $('#mensagemAlertaCad').html('');
                    },3500);

                    return false;
                }else{

                    var dados = {
                        NomeFantasia: $('#nomeFantasia').val(),
                        RazaoSocial: $('#razaoSocial').val(),
                        Cnpj: $('#cnpj').val(),
                        NomeResponsavel: $('#nomeResponsavel').val(),
                        Telefone: $('#telefone').val(),
                        Cep: $('#cep').val(),
                        Logradouro: $('#logradouro').val(),
                        Complemento: $('#complemento').val(),
                        Bairro: $('#bairro').val(),
                        Cidade: $('#cidade').val(),
                        Estado: $('#estado').val(),
                        Email: $('#email').val(),
                        EmailLogin: $('#email').val(),
                        Senha: $('#senha').val()
                    };

                    $.ajax({
                        type: "POST",
                        url: "/Home/CadastrarNovoCliente",
                        datatype: "JSON",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(dados),
                        success: function (jsonResult) {
                            if (jsonResult.includes('sucesso')) {
                                $('#mensagemAlertaCad').hide();
                                $('#mensagemSucessoCad').show();
                                $('#mensagemSucessoCad').html(jsonResult);
                                window.setTimeout(function () {
                                    window.location.href = "/Home/Login";
                                }, 3500);
                            } else {
                                $('#mensagemAlertaCad').show();
                                $('#mensagemAlertaCad').html(jsonResult);
                                $('#mensagemSucessoCad').hide();
                                window.setTimeout(function(){
                                    window.location.href = "/Home/Login";
                                },3500);
                            }
                        }
                    });
                }
            });
        });
    </script>
</head>
<body>
    <form id="frmCadastro">
        <div id="wrapper">
            <img src="~/assets/img/logo.jpg" class="img-thumbnail" style="width:200px;height:200px" />
            <h2 style="padding-left:33%;color:white">Informe seus dados para cadastro Cliente App Onde é</h2>
        </div>
        <div class="form-group">
            <div class="row" style="padding-left:15%">
                <div class="col-md-12">
                    <div id="mensagemAlertaCad" class="alert alert-danger">
                    </div>
                </div>
            </div>
            <br />
            <div class="row" style="padding-left:15%">
                <div class="col-md-12">
                    <div id="mensagemSucessoCad" class="alert alert-success">
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left:15%">
                <div class="col-md-6">
                    <label for="nomeFantasia">Nome Fantasia</label>
                    <input type="text" class="form-control" id="nomeFantasia" />
                </div>
                <div class="col-md-6">
                    <label for="razaoSocial">Razão Social</label>
                    <input type="text" class="form-control" id="razaoSocial" />
                </div>
            </div>
            <div class="row" style="padding-left:15%">
                <div class="col-md-3">
                    <label for="cnpj">Cnpj</label>
                    <input type="text" class="form-control" id="cnpj" />
                </div>
                <div class="col-md-6">
                    <label for="nomeResponsavel">Nome do Responsável</label>
                    <input type="text" class="form-control" id="nomeResponsavel" />
                </div>
                <div class="col-md-3">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone" onkeypress="mask(this, mphone);" onblur="mask(this, mphone);" />
                </div>
            </div>
            <div class="row" style="padding-left:15%">
                <div class="col-md-5">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" />
                </div>
                <div class="col-md-2">
                    <label for="cep">Cep</label>
                    <input type="text" class="form-control" id="cep" />
                </div>
                <div class="col-md-5">
                    <label for="logradouro">Logradouro</label>
                    <input type="text" class="form-control" id="logradouro" />
                </div>
            </div>
            <div class="row" style="padding-left:15%">
                <div class="col-md-6">
                    <label for="complemento">Complemento</label>
                    <input type="text" class="form-control" id="complemento" />
                </div>
                <div class="col-md-6">
                    <label for="bairro">Bairro</label>
                    <input type="text" class="form-control" id="bairro" />
                </div>
                <div class="row" style="padding-left:1.5%">
                    <div class="col-md-6">
                        <label for="cidade">Cidade</label>
                        <input type="text" class="form-control" id="cidade" />
                    </div>
                    <div class="col-md-6">
                        <label for="estado">Estado</label>
                        <input type="text" class="form-control" id="estado" />
                    </div>
                </div>
                <div class="row" style="padding-left:1.5%">
                    <div class="col-md-6">
                        <label for="senha">Senha</label>&nbsp<span id="statusSenha"></span>
                        <input type="password" class="form-control" id="senha" />
                    </div>
                    <div class="col-md-6">
                        <label for="confirmarSenha">Confirmar Senha</label>&nbsp<span id="statusConfirmarSenha"></span>
                        <input type="password" class="form-control" id="confirmarSenha" />
                    </div>
                </div>
                <br />
                <div class="row" style="padding-left:1.5%">
                    <div class="col-md-6">
                        <input type="button" id="btnCadastrar" value="Cadastrar" class="btn btn-primary btn-block" />
                    </div>
                    <div class="col-md-6">
                        <input type="button" id="btnCancelar" value="Cancelar" class="btn btn-danger btn-block" />
                    </div>
                </div>
            </div>
    </form>
</body>
</html>
