
@{
    ViewData["Title"] = "Index";
}

<div class="form-group">
    <div class="row">
        <h2>Clientes</h2>
    </div>
    <div class="row">
        <table id="dtClientes" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Data Checkin</th>
                    <th>Data Checkout</th>
                    <th>Tempo</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

